<% include ../top %>
<form method='POST' action='/addWork'>
    <p>Data: <input type='text' name='data' required></p>
    <p>Name: <input type='text' name='name'></p>
    <input class='w3-btn w3-blue' type='submit' value='Submit' />
</form>
<% include ../bottom %>