<% include ../top %>
<form method='POST' action='/addWork'>
    <p>Data: <input type='text' name='name'></p>
    <p>Name: <input type='text' name='data'></p>
    <input type='submit' value='Submit' />
</form>
<% include ../bottom %>