<% include top %>
<%
    if(notes) {
    for(var i in notes) {
        %><p><%= notes[i].key %>:
        <a href="/noteview?key=<%= notes[i].key %>"><%= notes[i].title %></a>
    </p><%
 }
 }
%>
<% include bottom %>