<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body class='w3-margin'>
    <h1><%= title %></h1>
    <div class='navbar'>
    <p>
        <a href='/'>Home</a>| <a href='/list'>List</a> | <a href='/addView'>ADD Note</a>
    </p>
    </div>