<% include ../top %>
<%
    if(notes) {
    for(var i in notes) {
        %><p><%= notes[i].notekey %>:
    <a href="/item?key=<%= notes[i].notekey %>"><%= notes[i].title %></a>
</p><%
 }
 }
%>
<% include ../bottom %>